.search-bar-select .ant-select-selection-search-input {
  font-size: 20px;
}

.search-bar-select .ant-select-selection-item {
  font-size: 20px;
}

.search-bar-select .ant-select-selection-placeholder {
  font-size: 20px;
}

.search-bar-input-number .ant-input-number-input {
  font-size: 20px !important;
}

.search-bar-input-number .ant-input-number-suffix {
  font-size: 20px;
}

.search-bar-input-number .ant-input-number-handler-wrap {
  display: none !important;
}
